<div class="container">
  <div class="title-box">
<%#= image_tag "Turing---Logo-Black.png", class: 'img-responsive turing-gear' %><h1>Turing Guests</h1>
  </div>

  <div class="row">
    <% @guests.each do |guest| %>
        <div class="col-md-3">
          <div class="panel panel-default text-center">
            <div class="panel-body">
              <img src="<%= guest.image_url %>" class="img-responsive">

              <h2><%= guest.name %></h2>
            </div>
            <div class="panel-footer">
              <div class="btn-group">
                <%= link_to "Ask a Question", guest_path(guest), :class => "btn btn-info" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

  </div>

</div>
